[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
uvicorn = "*"
gunicorn = "*"
envyaml = "*"
pydantic = {version = "==1.10.0", extras = ["dotenv"]}
psycopg2-binary = "*"
python-json-logger = "*"
requests = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
